<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left4"></div>
			    <div class="right">

                    <h1> UPLOAD YOUR IMAGE </h1><br><br>
					<a class="btn2" href="https://github.com/akshaykadam771/IMAGE-FILE-FORMAT-FOR-VEHICLE-NUMBER-PLATE-DETECTION.git">DEMO IMAGE</a><br><br>

					    <form action="/detection" method="POST" enctype="multipart/form-data">
							<input type="file" class="field" name="upload_file" id="upload_file"><br>
							<input type="submit" class="btn" value="DETECT">
						</form>

				</div>

		</div>
	</div>
</body>
</html>