<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Exam Performance Predicting</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_home.css') }}">
</head>
<body>
    <nav class="menu-bar"style="height: 60px;">
        <ul >
            <li><a href="/">Home</a></li>
        </ul>
    </nav></br></br>

    <div class="container">
        <h1>Student Exam Performance Predicting</h1>
    
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>Select your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="ethnicity">Race or Ethnicity</label>
                <select id="ethnicity" name="ethnicity" required>
                    <option value="" disabled selected>Select Ethnicity</option>
                    <option value="group A">Group A</option>
                    <option value="group B">Group B</option>
                    <option value="group C">Group C</option>
                    <option value="group D">Group D</option>
                    <option value="group E">Group E</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="parent-education">Parental Level of Education</label>
                <select id="parent-education" name="parental_level_of_education" required>
                    <option value="" disabled selected>Select Parent Education</option>
                    <option value="associate's degree">Associate's Degree</option>
                    <option value="bachelor's degree">Bachelor's Degree</option>
                    <option value="high school">High School</option>
                    <option value="master's degree">Master's Degree</option>
                    <option value="some college">Some College</option>
                    <option value="some high school">Some High School</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="lunch">Lunch Type</label>
                <select id="lunch" name="lunch" required>
                    <option value="" disabled selected>Select Lunch Type</option>
                    <option value="free/reduced">Free/Reduced</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="test-course">Test Preparation Course</label>
                <select id="test-course" name="test_preparation_course" required>
                    <option value="" disabled selected>Select Test Course</option>
                    <option value="none">None</option>
                    <option value="completed">Completed</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="reading-score">Writing Score out of 100</label>
                <input id="reading-score" type="number" name="reading_score" placeholder="Enter your Reading score" min="0" max="100" />
            </div>
            
            <div class="form-group">
                <label for="writing-score">Reading Score out of 100</label>
                <input id="writing-score" type="number" name="writing_score" placeholder="Enter your Reading Score" min="0" max="100" />
            </div>
            
            <div class="form-group">
                <input class="btn-primary" type="submit" value="Predict your Maths Score" required />
            </div>
        </form>
        
        <h2>
            The prediction is {{results}}
        </h2>
    </div>
</body>
</html>
