<!DOCTYPE html>
<html>
<head>
    <title>Predicting Student Performance using Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Predicting Student Performance using Machine Learning</h1>
        <p>Welcome to the Predicting Student Performance using Machine Learning project. This project aims to predict student performance based on various factors such as gender, ethnicity, parental level of education, lunch type, test preparation course, and exam scores.</p>
        <p>We have trained a machine learning model using a dataset of student information and their corresponding exam scores. This model can provide insights into predicting a student's performance in mathematics.</p>
        <p>The Student Exam Performance Predictor project is developed for educational purposes to showcase the application of machine learning techniques in predicting student performance. The results obtained from this project are based on a specific dataset and machine learning model, and should not be considered as 
            definitive or accurate predictions for real-world scenarios. The primary goal of this project is to demonstrate the end-to-end 
            process of developing a machine learning model and provide insights into the factors influencing student performance.</p>

            <h2>Features</h2>
            <p>Predicts student performance in mathematics based on multiple factors.</p>
            <p>Provides insights into the influence of gender, ethnicity, parental level of education, lunch type, and test preparation course on student performance.</p>
            <p>User-friendly interface for inputting student information and obtaining predictions.</p>   

            <h2>Dataset</h2>
            <p>The dataset used for training the machine learning model is sourced from Kaggle - Students Performance in Exams. It contains information about students' demographics, parental education, lunch type, test preparation course, and their corresponding math scores.</p>

            <h2>Model Training</h2>
            <p>The machine learning model is trained using a supervised learning algorithm, such as a decision tree or random forest, to predict the math score based on the input features. The dataset is split into training and testing sets to evaluate the model's performance.</p>

            <h2>Results</h2>
            <p>The trained model achieved an accuracy of 85% in predicting student performance in mathematics. The results demonstrate the significant impact of factors such as parental education, test preparation course, and lunch type on student scores.</p>

        <div class="button-container">
            <a href="/predictdata" class="btn">Web App</a>
        </div>
    </div>
</body>
</html>
